{% if first %}
<div id="collappseTeamParent">
    <ul data-last="{{ last }}" id="teamMobile" class="team-mobile row g-3">
        {% endif %}
        {% for d in data %}
            <li class="d-flex flex-column col-12 mx-auto align-items-center mb-3">
                <div class="scene--mobil scene--card">
                    <div class="card-flip">
                        <div class="card__face card__face--front py-3 px-2">
                            <img class="circle img{{ d.post_id }} splide-img splide-img-mobil"
                                 src="{{ d.title_img }}" alt="{{ d.meta.name }}">
                            <h5 class="team-description text-center font-blue pt-3">
                                {{ d.meta.name }}&nbsp;
                                <span class="d-block font-back fs-6 fw-normal">{{ d.meta.position }}&nbsp;</span>
                            </h5>
                        </div>{# div front #}
                        <div class="card__face card__face--back">
                            <img class="splide-img-mobil" src="{{ d.title_img }}"
                                 alt="{{ d.meta.name }}">
                            <div class="back-arbeitsgebiet ">
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                    <div class="text-center fw-normal text-white">
                                        <i class="bi bi-diamond" style="font-size: .65rem"></i>
                                        <p class="my-2">{{ d.meta.arbeitsgebiet1 }}</p>
                                        <p class="mb-2">{{ d.meta.arbeitsgebiet2 }}</p>
                                        <p class="mb-2">{{ d.meta.arbeitsgebiet3 }}</p>
                                        <p class="mb-2">{{ d.meta.arbeitsgebiet4 }}</p>
                                        <p class="mb-2">{{ d.meta.arbeitsgebiet5 }}</p>
                                        <p class="mb-2">{{ d.meta.arbeitsgebiet6 }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto back-footer bg-white shadow-sm">
                                <h5 class="pt-2 font-blue text-center">{{ d.meta.name }}
                                    <span class="d-block font-back fs-6 p-2 fw-normal min-height">{{ d.meta.position }}&nbsp;</span>
                                </h5>
                            </div>
                        </div>
                    </div>{# div flip #}
                </div>
                {% if d.meta.lebenslauf %}
                    <small class="text-center d-block pt-2">
                        <span data-id="{{ d.post_id }}"
                              class="get-lebenslauf-mobil lebenslauf{{ d.post_id }}">Lebenslauf</span>
                    </small>
                {% endif %}
                <div id="lebenslauf{{ d.post_id }}" class="collapse" data-bs-parent="#collappseTeamParent"></div>
            </li>
        {% endfor %}
        {% if first %}
    </ul>

</div>
    <button data-category="{{ catId }}" data-template="{{ templateId }}" data-handle="team" data-page="2"
            class="btn loadTeam btn-load-more my-4  {% if next %}disabled{% endif %}" {% if next %}disabled{% endif %}>
        MEHR
        ANZEIGEN
    </button>
{% endif %}




